<!doctype html>
<html ng-app="awApp">
<base href="/" />
<head>
<title>PakTrak</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src = "/js/app.js"></script>
<script src = "/js/controller.js"></script>
<script src = "/js/service.js"></script>
</head>

<body>
	<div ng-include="'/templates/header.html'"></div>
	<div id="main">
	<!-- stuff goes here -->

	<div class="container" ng-controller="shipController">
    <div class="row">
    	<h2>Create a Shipment</h2>
        <div class="panel panel-default users-content">
            <div class="alert alert-danger none"><p></p></div>
            <div class="alert alert-success none"><p></p></div>
            <div class="panel-body formData">
                <form class="form" name="shipmentForm">
                    <div class="form-group">
                        <label>Sent From</label>
                        <input type="text" class="form-control" name="sentfrom" ng-model="tempShipData.sentfrom"/>
                    </div>
                    <div class="form-group">
                        <label>Destination</label>
                        <input type="text" class="form-control" name="destination" ng-model="tempShipData.destination"/>
                    </div>
										<div class="form-group">
                        <label>Barcodes</label>
                        <input type="text" class="form-control" name="barcodes" ng-model="tempShipData.barcodes"/>
                    </div>
                    <a href="javascript:void(0);" class="btn btn-warning">Cancel</a>
                    <a href="javascript:void(0);" class="btn btn-success" ng-hide="tempShipData.id" ng-click="addShipment()">Add Shipment</a>
                </form>
            </div>

        </div>
    </div>
</div>

	</div> <!-- main -->
</body>
</html>
