<header>
	<div class="container-fluid logo">
		<div class="container centered">
			<div class="row">
			<h1>PACKAGE TRACKER</h1>
			<span>ORBIS CASCADE ALLIANCE</span>
		</div>
	</div>
	</div>

<div class="container">
	<div class="row">
	<nav class="navbar navbar-default">
		<ul class="nav navbar-nav">
			<!-- these need target="_self" if AngularJS html5 mode is enabled -->
			<li><a href="/index.html" target="_self">HOME</a></li>
			<li><a href="/ship.html" target="_self">SHIP</a></li>
			<li><a href="/users.html" target="_self">RECEIVE</a></li>
			<li><a href="/tools" target="_self">TRACK</a></li>
			<li><a href="/contact.html" target="_self">CONTACT</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right nav-icons">

			<li role="presentation" class="dropdown">
				<a class="fa fa-map-marker dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" href="#" aria-expanded="false"></a>
  <ul class="dropdown-menu" ng-controller="userController" >
    <li ng-init="getUserDropsites()"><a href="#" target="_self">Current Location: {{records.list.dropsite[0].name}}</a></li>
		<li role="separator" class="divider"></li>
		<li class="dropdown-header">Change Location</li>
		<li ng-repeat="record in records.list.dropsites">
			<a href="" ng-click="setUserDropsite(record.name)">{{record.name}}</a>
		</li>
  </ul>
</li>

			<li role="presentation" class="dropdown">
				<a class="fa fa-user dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" href="#" aria-expanded="false"></a>
  <ul class="dropdown-menu">
    <li><a href="/users.html" target="_self">User Info</a></li>
    <li><a href="#" target="_self">Institution Info</a></li>
    <li><a href="#" target="_self">Something else here</a></li>
  </ul>
</li>

<li role="presentation" class="dropdown">
	<a class="fa fa-cog dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" href="#" aria-expanded="false"></a>
<ul class="dropdown-menu">
		<li><a href="#">Something</a></li>
</ul>
</li>

<li role="presentation" class="dropdown">
	<a class="fa fa-question-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" href="#" aria-expanded="false"></a>
<ul class="dropdown-menu">
<li><a href="#" target="_self">My Profile</a></li>
<li><a href="#" target="_self">Institution Info</a></li>
<li><a href="#" target="_self">Something else here</a></li>
</ul>
</li>
		</ul>
	</nav>
</div>
</div>

</header>
