<!doctype html>
<html ng-app="awApp">
<head>
<title>ArchivesWest.js</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src = "/js/awjs.js"></script>
</head>

<body>
	<div ng-include="'./header.html'"></div>

	<div id="main">
	<!-- stuff goes here -->
	</div> <!-- main -->
</body>
</html>