<div ng-controller="arkController">
	<h2>Ark Request</h2>

	<div ng-init="getRecords('repositories')">

	<form>
	<div class="form-group">
    <label for="institution">Select your institution:</label>
	<select id="institution" ng-model="temp.inst">
	  <option ng-repeat="record in records.list">{{record.instcode}}</option>
	</select>
	</div>

	<button class="btn btn-primary" ng-click="arkRequest()">Submit ARK Request</button>
		<div class="alert alert-success none"><p></p></div>
	</form>

	</div>

</div>
