<!doctype html>
<html ng-app="awApp">
<base href="/" />
<head>
<title>ArchivesWest.js</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src = "/js/app.js"></script>
<script src = "/js/controller.js"></script>
<script src = "/js/service.js"></script>
</head>

<body>
	<div ng-include="'/templates/header.html'"></div>
	<div id="main">
	<!-- stuff goes here -->

	<div class="container" ng-controller="formController">
		<div class="jumbotron">
		<h1>AW.js Tools</h1>
		<p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
  </div>

<div class="row">
	<div class="col-md-3">
<div class="btn-group-vertical" role="group" aria-label="...">
<div class="btn btn-default" ng-click="link = 'submit'"><b>Submit a Document</b></div>
<div class="btn btn-default" ng-click="link = 'viewer'"><b>Document Viewer</b></div>
<div class="btn btn-default" ng-click="link = 'ark'"><b>ARK Request</b></div>
</div>
</div>

<div class="col-md-5">
<div>
	<div class="container" ng-switch on="link">
    <div ng-switch-when="submit" >
        <ng-include src="'/tools/submit.html'"></ng-include>
    </div>
    <div ng-switch-when="viewer">
		<ng-include src="'/tools/viewer.html'"></ng-include>
    </div>
	<div ng-switch-when="ark">
		<ng-include src="'/tools/ark.html'"></ng-include>
    </div>
</div>
        </div>
    </div>
</div>
</div> <!-- row -->
</div> <!-- container -->

	</div> <!-- main -->
</body>
</html>
